# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
biopython
blast=2.9.0=pl526h979a64d_3
gfapy=1.0.0
indexed_gzip=1.1.0=py38h614de5d_0
lrez=1.1=h179b981_0
mindthegap=2.2.2=he513fc3_0
mummer=3.23=pl526_8
pathos=0.2.5=py_0
samtools=1.6=h244ad75_4